.buenos{
    
    position: relative;
    animation: good 5s linear 2s infinite ;
    
}
@keyframes good {
    0% { left: 0px; top: 1px }
    50% { left: 600px ;top: 1px}
    100% { left: 0px ;top: 1px}
}
#castillo{
    
    animation: castillo 5s lineal 2s infinite ;
    

    
    
}
@keyframes castillo {
    0% { scale: 1;}
    100% { scale:2 ;}
}
    