header{
    text-align: center;
     font-size: 18mm;
      background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/sls_booster_test_horizontal.jpg)
}
nav{
    background-color:rgb(78, 179, 192) ;
}
body{
    background-color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#main-container{
    width: 1100px;
    margin: 0px auto;
    border: 1px solid black;
}
nav{
    height: 50px;
    border-bottom: 1px solid black;
}
nav ul li {
    float: left;
    list-style: none;
    padding: 10px;
    line-height: 25px;
    flex-wrap: wrap;
}
.clearFix{
    clear: both;
}


